.nav
  display flex
  background lightcyan
  justify-content space-between
  width 100%
  padding 10px 20px
  align-content center

.nav p
  font-size 2rem
  font-weight 500
  letter-spacing .3rem

.nav span
  color red

.nav ul
  display flex

.nav li
  list-style none
  font-size 2rem
  padding 0 10px

.active
  color green
  font-weight 800

.Repos, .About, .Home
  padding 0 20px

.About
  padding 0 20px

.ReposFrame
  display flex

.Repos
  padding-bottom 40px
  background cyan


.Repos li
  font-size 1.5rem
  list-style none

.Repo
  display flex
  flex-direction column
  padding-left 20px
